<!-- <h1>Babbo Italian Eatery</h1>
<h2>Arizona's Modern Italian Restaurant</h2> -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'dogportraits.jpg', class: 'img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Best Pet Photos in Town</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'micro.jpg', class: 'img fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Photograph Any Pets</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'holiday1.jpg', class: 'img fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Holiday Photos For Any Season</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'dogcat.jpg', class: 'img fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Best Friends Forever</h3>
      </div>
    </div>
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>