<br />
 


    <div class="menu-list">
      <hr />
      <button type="button" class="btn btn-default btn-block">
        <h2>Appetizers</h2>
      </button>
       <hr />
        <button type="button" class="btn btn-default btn-block">
        <h2>Pastas</h2>
      </button>
       <hr />
        <button type="button" class="btn btn-default btn-block">
        <h2>Salads</h2>
      </button>
       <hr />
        <button type="button" class="btn btn-default btn-block">
        <h2>Sandwiches</h2>
      </button>
      <hr />
       <button type="button" class="btn btn-default btn-block">
        <h2>Calzones</h2>
      </button>
       <hr />
        <button type="button" class="btn btn-default btn-block">
        <h2>Protein Bowls</h2>
      </button>
       <hr />
        <button type="button" class="btn btn-default btn-block">
        <h2>Chalkboard Entrees</h2>
      </button>
       <hr />
        <button type="button" class="btn btn-default btn-block">
        <h2>Kids Menu</h2>
      </button>
       <hr />
        <button type="button" class="btn btn-default btn-block">
        <h2>Desserts</h2>
      </button>
       <hr />
      
    </div>

   <!--  <div class="list">
      <header><button><h4>Menu</h4></button></header>
      <ul>
        <li><button>Appetizers</button></li>
        <li><button>Protein Bowls</button></li>
        <li><button>Salads</button></li>
        <li><button>Chalkboard Menu</button></li>
        <li><button>Pastas</button></li>
        <li><button>Pizzas</button></li>
        <li><button>Calzones</button></li>
        <li><button>Sandwiches</button></li>
        <li><button>Lunch Combos</button></li>
        <li><button>Desserts</button></li>
        <li><button>Kids Menu</button></li>
        <li><button>Italian Sodas</button></li>
      </ul>
    </div> -->
    