<br />
 


    <div class="menu-list">
      <hr />
      <button type="button" class="btn btn-default btn-block">
        <a class="app-link" href="/appetizers/show">Appetizer</a>
      </button>
       <hr />
        <button type="button" class="btn btn-default btn-block">
        <a class="app-link" href="/pastas/show">Pastas</a>  
      </button>
       <hr />
        <button type="button" class="btn btn-default btn-block">
        <a class="app-link" href="/salads/show">Salads</a>
      </button>
       <hr />
        <button type="button" class="btn btn-default btn-block">
        <a class="app-link" href="/sandwiches/show">Sandwiches</a>
      </button>
      <hr />
       <button type="button" class="btn btn-default btn-block">
       <a class="app-link" href="/calzones/show">Calzones</a>
      </button>
       <hr />
        <button type="button" class="btn btn-default btn-block">
        <a class="app-link" href="/protein_bowls/show">Protein Bowls</a>
      </button>
       <hr />
        <button type="button" class="btn btn-default btn-block">
        <a class="app-link" href="/chalkboard_entrees/show">Chalkboard Entrees</a>
      </button>
       <hr />
        <button type="button" class="btn btn-default btn-block">
        <a class="app-link" href="/kids_menu/show">Kids Menu</a>
      </button>
       <hr />
        <button type="button" class="btn btn-default btn-block">
        <a class="app-link" href="/desserts/show">Desserts</a>
      </button>
       <hr />
      
    </div>

   <!--  <div class="list">
      <header><button><h4>Menu</h4></button></header>
      <ul>
        <li><button>Appetizers</button></li>
        <li><button>Protein Bowls</button></li>
        <li><button>Salads</button></li>
        <li><button>Chalkboard Menu</button></li>
        <li><button>Pastas</button></li>
        <li><button>Pizzas</button></li>
        <li><button>Calzones</button></li>
        <li><button>Sandwiches</button></li>
        <li><button>Lunch Combos</button></li>
        <li><button>Desserts</button></li>
        <li><button>Kids Menu</button></li>
        <li><button>Italian Sodas</button></li>
      </ul>
    </div> -->
    