<br />
 

  <div class="row">

    <div class="list">
      <header><button><h4>Menu</h4></button></header>
      <ul>
        <li><button>Appetizers</button></li>
        <li><button>Protein Bowls</button></li>
        <li><button>Salads</button></li>
        <li><button>Chalkboard Menu</button></li>
        <li><button>Pastas</button></li>
        <li><button>Pizzas</button></li>
        <li><button>Calzones</button></li>
        <li><button>Sandwiches</button></li>
        <li><button>Lunch Combos</button></li>
        <li><button>Desserts</button></li>
        <li><button>Kids Menu</button></li>
        <li><button>Italian Sodas</button></li>
      </ul>
    </div>
    <section class="appetizers">
      <h1>Appetizers</h1>
      <div class="booyah-box">
        <figcaption class="item-name">Pesto Cheese Crostini</figcaption>
        <figcaption class="item-price">$7.95</figcaption>
        <figcaption class="item-desc">Toasted Italian Bread, Garlic, Mozzarella, Romano Cheese, Side of Brucshcetta Tomatoes.</figcaption>
      </div>
      <div class="booyah-box">
        <figcaption class="item-name"><b>New</b> Bruschetta Trio</figcaption>
        <figcaption class="item-price">$11.50</figcaption>
        <figcaption class="item-desc">Pick Any Three Selections of Bruschetta.</figcaption>
          <li>Roasted Red Bell Pepper & Goat Cheese</li>
          <li>Salami, Fig with Arugula & Bue Cheese</li>
          <li>Fresh Mozzarella, Basil, Balsamic Glaze & Tomatoe</li>
          <li>Pear & Walnut with a blend of Goat, Blue Cheese & Honey</li>
          <li>Fig & Prosciutto topped with Arugula</li>
          <li>Spicy Fig Jam with Jalapeno & Cream Cheese</li>
          <li>Balsamic Marinated Tomatoes & Goat Cheese</li>
      </div>
      <div class="booyah-box">
        <figcaption class="item-name">Firecracker Rolls</figcaption>
        <figcaption class="item-price">$10.50</figcaption>
        <figcaption class="item-desc">Toasted Italian Bread, Garlic, Mozzarella, Romano Cheese, Side of Brucshcetta Tomatoes.</figcaption>
          <li>STEAK: Steak, Jalapeños, Onions, Provolone and Mozzarella.</li>
          <li>ITALIAN: Italian Meats, Provolone and Mozzarella.</li>
          <li>BUFFALO CHICKEN: Buffalo Chicken, Mozzarella, Gorgonzola.</li>
      </div>
      <div class="booyah-box">
        <figcaption class="item-name">Wild Mushrooms with Roasted Asparagus</figcaption>
        <figcaption class="item-price">$10.50</figcaption>
        <figcaption class="item-desc">Wild Mushrooms, Marsala, Toasted Walnuts, Roasted Asparagus, Shaved Parmesan, Bread Crumbs.</figcaption>
      </div>
      <div class="booyah-box">
        <figcaption class="item-name">Stuffed Portobello</figcaption>
        <figcaption class="item-price">$10.95</figcaption>
        <figcaption class="item-desc">Portobello Mushroom, Sausage Ragu, Mozzarella, Roma Tomatoes, Parmesan, Fresh Basil.</figcaption>
      </div>
       <div class="booyah-box">
        <figcaption class="item-name">Toasted Ravioli With Sausage Ragu</figcaption>
        <figcaption class="item-price">$10.95</figcaption>
        <figcaption class="item-desc">Portobello Mushroom, Sausage Ragu, Mozzarella, Roma Tomatoes, Parmesan, Fresh Basil.</figcaption>
      </div>  
      <div class="booyah-box">
        <figcaption class="item-name">Artichoke, Shrimp and Crab Dip</figcaption>
        <figcaption class="item-price">$10.95</figcaption>
        <figcaption class="item-desc">Artichokes, Shrimp, Crab, Pepper-Jack Cheese, Romano, Garlic Bread.</figcaption>
      </div>
      <div class="booyah-box">
        <figcaption class="item-name">Mozza Balls</figcaption>
        <figcaption class="item-price">$10.50</figcaption>
        <figcaption class="item-desc">Three-Cheese Panko Crusted Mozza-balls served with Bolognese Ragu.</figcaption>
    </section>
  </div>

