<div class="booyah-box">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'user.png' %>
    </div>

    <div class="col-8">
      <h1><%= @user.email %></h1>
      <h3>Babbo Insider Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
      <h3>My Points: 2,050</h3>
      <h3>Last visit to Babbo Italian Eatery: January 15, 2020</h3>
    </div>
  </div>
  <div class="clear"></div>
</div>