<div class="booyah-box col-10 offset-1">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'user.png' %>
    </div>

    <div class="col-8">
      <h1>Jambalaya Jason</h1>
      <br />
      <h3>Babbo Insider Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
      <br />
      <h5>My Points: 2,050</h5>
      <h5>Last visit to Babbo Italian Eatery: January 15, 2020</h5>
    </div>
  </div>
  <div class="clear"></div>
</div>

<h1 class="text-center">My Previous Order</h1>

  <div class="booyah-box text-center col-10 offset-1">
    <h2><u>January 15, 2020</u></h2>
    <h3>(1)Garlic Shrimp Pasta</h3><h5>$14.95</h5>
    <br />
    <h3>(2) Spaghetti & Meatballs</h3><h5>$27.90</h5>
    <br />
    <h3>(1)Chicken Protein Bowl</h3><h5>$12.95</h5>
    <br />
    <h3>(1) Amy's Lasagna</h3><h5>$14.95</h5>
    <div align ="right">
      <h2>Total: $76.41</h2>
    </div>

  </div>