@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Metal+Mania&display=swap');


.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('greek-vase.png');
  margin-bottom: 0;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 550px;
  width: 100%;
}

.carousel-item.active, 
.carousel-item-next, 
.carousel-item-prev {
  display: block;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

header {
  font-size: 1.1em;
  height: 40px;
  padding: 10px;
}



.list {
  width: 300px;
  height: calc(100% - 10px - 17px);
  margin-left: 25px;
  padding-top: -100px;
}

.list > * {
  background-color: black;
  color: #333;
  padding: 0 10px;
}



.list:not(.add) > header > button {
  width: 100%;
  margin-top: 4px;
  line-height: 36px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
}



.list ul {
  list-style: none;
  margin: 0;
  max-height: calc(100% - 36px - 36px);
  overflow-y: auto;
}



.list li > button {
  width: calc(100% - 8px);
  margin: 4px;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  height: 100%;
  background-color: #fff;
  border-radius: 3px;
}


button {
  display: inline;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  background-color: inherit;
}

h4 {
  color: white;
}


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

header {
  font-size: 1.1em;
  height: 40px;
  padding: 10px;
}

.container {
  display: flex;
  overflow-x: auto;
  height: calc(100% - 80px);
}

.container > * {
  flex: 0 0 auto;
  margin-left: -25px;
}

.appetizers {
  margin-left: 25px;
}

.item-name {
  color: #000;
  font-weight: normal;
  display: inline;
  float: left;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  left: 125px;


}

.item-price {
  color: #eb212e;
  font-weight: bold;
  display: inline;
  float: left;
  padding-left: 10px;
  line-height: 23px; 
  position: relative;
  left: 125px;
}

h3 {

  text-transform: uppercase;

}

.price {
  color: #eb212e;
  display: inline;
}

.item-desc {
  
  color: #000;
  margin-bottom: 20px;
  margin-top: -60px;
  display: inline;
  position: relative;
  left: 125px;
display: block; padding-left: 2px; padding-right: 2px; border: none;

}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
 background: image_url('greek-vase.png'); 
}

.alert { 
  margin-bottom: 0;
}

.image-resize {
  width: 30%;
  height: 80px;
  position: relative;
  top: 0px;
  float: left;


}

.appetizers {
  padding: 20px;
}

.menu-list {
  text-align: center;
  background: none;
}

.modal {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &--hidden {
    display: none;
  }
  &_close-bar {
    display: flex;
    justify-content: flex-end;
    margin-right: -2rem;
    margin-top: -1rem;
    cursor: pointer
  }
  &_contents {
    background-color: #fff;
    padding: 2rem 4rem;
    input[type=email] {
      width: 100%;
      padding: .5rem;
    }
  }
}

.modal-button {
  padding: .5rem;
  color: black;
  border: none;
  cursor: pointer;
  background-color: gray; 
  position: flex;
}

.app-link {
  color: #b03030;
  text-decoration: none;
  font-size: 30px;
}

a.app-link:link {
   color: #b03030;
   text-decoration: none;
}

a.app-link:visited {
   color: #b03030;
   text-decoration: none;
}

a.app-link:hover {
   color: #b03030;
   text-decoration: none;
}

a.app-link:active {
   color: #b03030;
   text-decoration: none;
}

.follow {
  position: fixed;
  color: #eb212e;
  text-decoration: none;
}

.follow:hover {
  color: #eb212e;
}

.upgrade {
  color: #eb212e;
}

.page_announcement {
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  line-height: 26px;
  padding-top: 10px;
  background: #0000;
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}

.col-xs-9 {
  width: 75%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-3 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.disclaimer {
  font-size: 11px;
  margin: 5px 0;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  color: #000;
  text-transform: uppercase;
}

.menu_boiler {
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  color: #777
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 5px;
  color: white;
  border-color: black;

}

.dropbtn1 {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 5px;
  color: white;
  border-color: black;

}

.dropbtn2 {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 5px;
  color: white;
  border-color: black;

}

.dropbtn3 {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 5px;
  color: white;
  border-color: black;

}

.dropbtn4 {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 5px;
  color: white;
  border-color: black;

}

.dropbtn:hover, .dropbtn:focus {
  background-color: #black;

}

 .dropbtn:active, 
 .dropbtn:focus 
 {
     border:0.0em solid #00c; /* here configure as your needs */
     color:#00c;
  }

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown a:hover {
  background-color: black;
  color: white;
}

.show {
  display: block;

  }

.nav-link {
  color: white;
}

.logo {
  color: black;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -1.5x;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}

h3 {
  color: black;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -1.5x;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  color: white;
}

.nav-link {
  color: black;
 
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

p {
  display: inline-block;
  padding: 15px;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 5px;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.hero {
   background: image_url('dogportraits.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1500px;
}


h1.thick {
  font-weight: 500;
}


